<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin Panel</title>
        <link href="/admin/css/style.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <%- include('./partials/header'); -%> 

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <%- include('./partials/sidenav'); -%> 
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <% if(messages.errors) {%>
                        <div class="alert alert-danger fade show">
                          <% for(let error of messages.errors){%>
                            <center><%=error.msg%></center>
                            <%}%>
                        </div>
                        
                      <%}%>
                  
                      <% if(messages.info) {%>
                        <div class="alert alert-info fade show">
                          <% for(let info of messages.info){%>
                            <center><%=info.msg%></center>
                            <%}%>
                        </div>
                        
                      <%}%>
                      <% if(messages.success) {%>
                        <div class="alert alert-success fade show">
                          <% for(let success of messages.success){%>
                            <center><%=success.msg%></center>
                            <%}%>
                        </div>
                        
                      <%}%>
                    <div class="container-fluid">
                        <h1 class="mt-4">Posted Jobs</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                            <li class="breadcrumb-item active">Posted Jobs</li>
                        </ol>
                        <h3 class="mt-4">Currently Opened Jobs</h3>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Job Title</th>
                                                <th>Salary Offered</th>
                                                <th>Experience Required</th>
                                                <th>Last Date to Apply</th>
                                                <th>Opening Type</th>
                                                <th>Applications Section</th>
                                                <th>Selected Candidates</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i< Jobdata.length ; i++) {%>
                                                <% if (Jobdata[i].status != "resultOut") { %>
                                                <tr>
                                                    <td><%=Jobdata[i].jobtitle %></td>
                                                    <td><%=Jobdata[i].salary %></td>
                                                    <td><%=Jobdata[i].experience %></td>
                                                    <td><%=Jobdata[i].lastdate %></td>
                                                    <td><%=Jobdata[i].openingtype %></td>
                                                    <td><a href="/admin/pending/<%= Jobdata[i]._id%>">Open</a>/<a href="/admin/download/<%= Jobdata[i]._id%>">Download</a></td>
                                                    <td><a href="/admin/selected/<%= Jobdata[i]._id%>">View</a>/<a href="/admin/selectedDownload/<%= Jobdata[i]._id%>">Download</a></td>
                                                </tr>
                                                <% } %>
                                            <% } %>
                                        </tbody>
                                    </table>

                                    
                                </div>
                            </div>

                        </div>

                        <h3 class="mt-4">Closed Jobs</h3>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered show"  width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Job Title</th>
                                                <th>Salary Offered</th>
                                                <th>Experience Required</th>
                                                <th>Last Date to Apply</th>
                                                <th>Opening Type</th>
                                                <th>Selected Candidates</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i< Jobdata.length ; i++) {%>
                                                <% if (Jobdata[i].status == "resultOut") { %>
                                                <tr>
                                                    <td><%=Jobdata[i].jobtitle %></td>
                                                    <td><%=Jobdata[i].salary %></td>
                                                    <td><%=Jobdata[i].experience %></td>
                                                    <td><%=Jobdata[i].lastdate %></td>
                                                    <td><%=Jobdata[i].openingtype %></td>
                                                    <td><a href="/admin/selected/<%= Jobdata[i]._id%>">View</a>/<a href="/admin/selectedDownload/<%= Jobdata[i]._id%>">Download</a></td>
                                                </tr>
                                                <% } %>
                                            <% } %>
                                        </tbody>
                                    </table>

                                    
                                </div>
                            </div>

                        </div>





                        <!-- <div class="testing">
                            <div>
                                <div class="card mb-4 show1" style="display: none;">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered show"  width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Job Title</th>
                                                        <th>Salary Offered</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>kjnnfvklfv</td>
                                                        <td>bkjvkjfnkjfv</td>
                                                    </tr>
                                                                        
                                                </tbody>
                                            </table>
                            
                                                                
                                        </div>
                                    </div>                                    

                            
                                </div>  
                                
                            </div>
                        </div>  -->


                    </div>
                </main>
                <br>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/admin/js/script.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="/assets/demo/datatables-demo.js"></script>
        <script>
          $(document).ready(function() {
            $('.show').DataTable();
          });
        </script>
    </body>
</html>
