<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin Panel</title>
        <link href="/admin/css/style.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <%- include('./partials/header'); -%> 

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <%- include('./partials/sidenav'); -%> 
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <% if(messages.errors) {%>
                        <div class="alert alert-danger fade show">
                          <!-- <button class="close" type="button" data-dismiss="alert">
                            <i class="fa-fa-circle">
                            </i>
                          </button> -->
                          <% for(let error of messages.errors){%>
                            <center><%=error.msg%></center>
                            <%}%>
                        </div>
                        
                      <%}%>
                  
                      <% if(messages.info) {%>
                        <div class="alert alert-info fade show">
                          <!-- <button class="close" type="button" data-dismiss="alert">
                            <i class="fa-fa-circle">
                            </i>
                          </button> -->
                          <% for(let info of messages.info){%>
                            <center><%=info.msg%></center>
                            <%}%>
                        </div>
                        
                      <%}%>
                  
                      <% if(messages.success) {%>
                        <div class="alert alert-success fade show">
                          <!-- <button class="close" type="button" data-dismiss="alert">
                            <i class="fa-fa-circle">
                            </i>
                          </button> -->
                          <% for(let success of messages.success){%>
                            <center><%=success.msg%></center>
                            <%}%>
                        </div>
                        
                      <%}%>
                    <div class="container-fluid">
                        <h1 class="mt-4">Applications</h1>
                        <ol class="breadcrumb mb-4">
                          <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                          <li class="breadcrumb-item"><a href="/admin/showJobs/pending">Posted Jobs</a></li>
                          <li class="breadcrumb-item active">Applications</li>
                        </ol>

                        <div class="row">
                          <div class="col-xl-3 col-md-6">
                              <div class="card bg-primary text-white mb-4">
                                  <div class="card-body">Total Applications</div>
                                  <div class="card-footer d-flex align-items-center justify-content-between">
                                      <div class="large text-white ">Count</div>
                                      <div class="large text-white "><i><%= totalApplications%></i></div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xl-3 col-md-6">
                              <div class="card bg-warning text-white mb-4">
                                  <div class="card-body">Pending Applications</div>
                                  <div class="card-footer d-flex align-items-center justify-content-between">
                                      <div class="large text-white ">Count</div>
                                      <div class="large text-white "><i><%= pendingApplications%></i></div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Accepted Applications</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <div class="large text-white ">Count</div>
                                    <div class="large text-white "><i><%= acceptedApplications%></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                          <div class="card bg-danger text-white mb-4">
                              <div class="card-body">Rejected Applications</div>
                              <div class="card-footer d-flex align-items-center justify-content-between">
                                  <div class="large text-white ">Count</div>
                                  <div class="large text-white "><i><%= rejectedApplications%></i></div>
                              </div>
                          </div>
                      </div>

                      </div>

                        <% for(var i=0; i < applicationData.length ; i++) { %>
                            <div class="container">
                              <div class="card shadow p-3 mb-5 bg-white rounded">
                                <div class="card-body">
                                    <div class = "row">
                                        <div class="col-3 font-italic"><h6>Name : <%= applicationData[i].formData.Name.value %> </h6></div>
                                        <div class="col-3 font-italic"><h6>DOB : <%= applicationData[i].formData.Date_Of_Birth.value %> </h6></div>
                                        <div class="col-3 font-italic"><h6>Gender : <%= applicationData[i].formData.Gender.value %> </h6></div>
                                        <div class="col-3 font-italic"><h6>Email : <%= applicationData[i].formData.Email.value %></h6></div>

                                    </div>
                                </div> 
                                <button class="but" style="margin-left: 37%; width: 20%;"  >View Complete Details</button>
                               
                                        <div class="table-responsive show1" style="display: none;">
                                            <table class="table table-bordered show"  width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Attribute Name</th>
                                                        <th>Attribute Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var key in applicationData[i].formData ) { %>
                                                        <% if (applicationData[i].formData[key].type == "text" || applicationData[i].formData[key].type == "radio" ) { %>
                                                            <tr>
                                                                <td><%= key %></td>
                                                                <td><%= applicationData[i].formData[key].value %></td>
                                                            </tr>
                                                            <% }  else { %>
                                                                <tr>
                                                                    <td><%= key %></td>
                                                                    <td><a href="/attachments/<%= applicationData[i].formData[key].value %>" target="_blank">View File</a></td>
                                                                </tr>
                                                            <% } %>
                                                    
                                                    <%}%>
                                                                        
                                                </tbody>
                                            </table>
                                            <% if (usertype == "admin") { %>
                                            <a href="/admin/accept/<%= applicationData[i]._id %>" class="btn btn-success ">Accept</a>
                                            <a href="/admin/reject/<%= applicationData[i]._id %>" class="btn btn-danger ">Reject</a>
                                            <% } %>
                            
                                                        
                                </div>
                              </div>
                            </div>


                        <%}%>
                        <!-- <div class="card mb-4">
                            <div class="card-body"> -->
                                
                                
                                                            
                            <!-- </div>
                        </div> -->
                        <% if (usertype == "admin") { %>
                        <center><a href="/admin/declareResult/<%= jobID %>" class="btn btn-primary ">Declare Result</a></center>
                        <%}%>
                    </div>
                </main>
                <br>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/admin/js/script.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <!-- <script src="/assets/demo/datatables-demo.js"></script> -->
        <script>
            $(".but").click (function(){
// Close all open windows
$(".show1").stop().slideUp(300); 
// Toggle this window open/close
$(this).next(".show1").stop().slideToggle(300);
//hitter test// 

});


  $(document).ready(function() {
$('.show').DataTable();
});
</script>
    </body>
</html>
